 body{
 	padding-top: 70px;
 }

.starter-template{
	padding: 40px 15px;
	text-align: center;
}

img{
	width: 250px;
	height: 270px;
	margin-left: -50px;
    margin-top: -40px;
    	margin
        
}

.attributes{
	margin-left: -50px;
	margin-top: 30px;
}

footer {
    text-align: center;
}